@import url(https://db.onlinewebfonts.com/c/7640736856dce7c75116456cccbf1c9a?family=Elegant+DEMO);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", serif;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns:
    [full-start] minmax(12rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(12rem, 1fr) [full-end];
}

.primary-font-color {
  color: #252525d1;
}

.secondary-font-color {
  color: #6a6c5f;
}

.black-font-color {
  color: #000000;
}

.white-font-color {
  color: #faf6f5;
}

.icon-background-color {
  background-color: #3f3f3f;
}

.button-background-color {
  background-color: #8f938b;
}

.input-background-color {
  background-color: #f8f7f7;
}

.primary-background-color {
  background-color: #f2f2f2;
}

.secondary-background-color {
  background-color: #dbd9d0;
}

.tertiary-background-color {
  background-color: #4e58518a;
}

.white-background-color {
  background-color: #ffffff;
}

.gray-background-color {
  background-color: #f2f2f2;
}
